/*CSS RELACIONADO AO CONTEÚDO DO PROJETO 1*/
.projeto_1
{
    margin-top: 25px;
    background-color: blueviolet;
    height: 300px;
    width: 80%;
    margin-left: 50px;
}
.conteudo_1
{
    display: flex;
}
.foto_projeto1
{
    width: 17%;
    height: 17%;
    margin-top: 10px;
    margin-left: 25px;
}
.discricao_1
{
    margin-left: 5%;
    margin-top: 5%;
    text-align: justify;
    width: 70%;
    height: 50%;
    background-color: rgb(43, 214, 226);
}
/*CSS RELACIONADO AO CONTEÚDO DO PROJETO 2*/
.projeto_2
{
    margin-top: 25px;
    background-color: rgb(43, 226, 156);
    height: 300px;
    width: 80%;
    margin-left: 50px;
}
.conteudo_2
{
    display: flex;
}
.foto_projeto2
{
    width: 15%;
    height: 15%;
    margin-top: 10px;
    margin-left: 25px;
}
.discricao_2
{
    margin-left: 7%;
    margin-top: 5%;
    text-align: justify;
    width: 70%;
    height: 50%;
    background-color: rgb(156, 226, 43);
}
/*CSS RELACIONADO AO CONTEÚDO DO PROJETO 3*/
.projeto_3
{
    margin-top: 25px;
    background-color: rgb(214, 226, 43);
    height: 300px;
    width: 80%;
    margin-left: 50px;
}
.conteudo_3
{
    display: flex;
}
.foto_projeto3
{
    width: 15%;
    height: 15%;
    margin-top: 10px;
    margin-left: 25px;
}
.discricao_3
{
    margin-left: 7%;
    margin-top: 5%;
    text-align: justify;
    width: 70%;
    height: 50%;
    background-color: rgb(179, 22, 241);
}
h2
{
    margin-left: 25px;
}
